<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867853322741-jcdon0htmbjc5i212c4l4vrb0se36uro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867853322741-jcdon0htmbjc5i212c4l4vrb0se36uro</string>
	<key>API_KEY</key>
	<string>AIzaSyCeE4MnxdwhU4lhfuRnsQevNabQEYNWVr8</string>
	<key>GCM_SENDER_ID</key>
	<string>867853322741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.movie.kilowott</string>
	<key>PROJECT_ID</key>
	<string>kilowott-473e1</string>
	<key>STORAGE_BUCKET</key>
	<string>kilowott-473e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867853322741:ios:a76d7fc990ac1a9ad578bc</string>
</dict>
</plist>